<div class='input-group date' id='datetimepicker1'>
  <input type='text' name='expiration' id='expiration' placeholder="Set expiration (optional)" value="" class="form-control" />
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-calendar"></span>
  </span>
</div>

<script src="/fill-current-expiration.js"></script>
