<!doctype html>
<html>
  <head>
    <title>Ask the Audience</title>
  </head>
  <body>
    Is there a doctor in the house?

    <div id='connection-count'></div>
    <div id='status-message'></div>
    <div id='choices'>
      <button>A</button>
      <button>B</button>
      <button>C</button>
      <button>D</button>
    </div>
    <br>
    <div id='confirm-vote'>You haven't voted yet!</div>
    <div id='submitted-votes'></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
