<!doctype html>
<html>
  <head>
    <title>Ask the Audience</title>
  </head>
  <body>
    Ready to ask that burning question?

    <section class='create-poll'>
      <form>
        <input type='text' placeholder='What do you want to ask?' class='question'>
        <input type='text' placeholder='Response A' id='answer-a'>
        <input type='text' placeholder='Response B' id='answer-b'>
        <input type='text' placeholder='Response C' id='answer-c'>
        <input type='text' placeholder='Response D' id='answer-d'>
        <input type='submit' class='submit-message'>
      </form>
    </section>



    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
