input {
  margin: 10px;
}

.responses p {
  width: 90%;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
  display: inline-block;
}

.admin-response {
  color: white;
  border: 1px solid;
  border-color: black;
  border-radius: 4px;
  background-color: gray;
}
