input {
  margin: 10px;
}

.responses {
  padding-right: 60px;
}

.response {
  display: block;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  white-space: nowrap;
  min-width: 240px;
}

.response-result {
  color: green;
  font-weight: bolder;
  font-size: 18px;
  text-align: right;
  margin-right: 15px;
  margin-left: -9px;
  width: 30px;
  display: inline-block;
}

#total-votes {
  color: red;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  width: 50px;
  border-top: 2px solid #ccc
}

.responses button {
  width: 90%;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
}

.dead-button {
  color: white;
  border: 1px solid;
  border-color: black;
  border-radius: 4px;
  background-color: gray;
}

.input-group {
  margin: 10px;
}

.input-group input {
  margin: 0px;
}

.admin-panel button {
  margin-right: 10px;
}

#expiration-message {
  color: red;
  font-weight: bolder;
  margin-top: -21px;
}

#new-comment input {
  margin: 0px;
  margin-bottom: 10px;
}

#new-comment #comment-name {
  width: 200px;
}

#new-comment h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
}

.comment-time {
  color: #ccc;
}

.comment-name {
  font-weight: bolder;
  text-decoration: underline;
}

.comment-comment {
  margin-left: 40px;
}

#total-votes {
  margin-top: -15px;
  margin-bottom: 15px;
}

hr {
  border-color: #aaa;
}
